@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/truckDriverApp.css">

<head>
</head>
<body>


    <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    <div class="highway"></div>
    <div class="city"></div>

    <div class="truck">
        <img src="/css/truckHome.png" />
    </div>
   






</body>
