
@{
    ViewData["Title"] = "InternalDriverMessage";
}

<script>
<a href="http://~/js/signalr/dist/browser/signalr.js">http://~/js/signalr/dist/browser/signalr.js</a>
<a href="http://~/js/sms.js">http://~/js/sms.js</a>
</script>
<link rel="stylesheet" href="/css/LayoutBySection.css">
<h1 style="text-align: center; width: 500px; border: 1px solid black; border-bottom-color: transparent; padding: 50px; margin: 0 auto; background-color: white; box-shadow: 5px 5px 5px black;">
    Driver Message Center

</h1>
<body class="bodyDriverInternalDriverMessage">
</body>




<table class="table" id="messageList">
    <thead>
        <tr>
            <th>From Number</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div>
    <a asp-action="AllFacilitys">Back to Facilities</a>
</div>